@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300&display=swap');

* {
    font-family: 'JetBrains Mono', monospace;
    background-color: #191825;
    // color: #865DFF;
    text-decoration: none;
}

nav {
    display: flex;
    justify-content: space-between;
    margin: 2rem;
    font-size: 20px;
    color: #E384FF;
}

.short {
    display: none;
}

a {
    margin-left: 1rem;
    margin-right: 1rem;
    color: #E384FF;
}

.connecting {
    margin-top: 5rem;
    color: white;
    text-align: center;
    font-size: 40px;
}

.section {
    margin: 2rem;
    margin-top: 4rem;
}

.heading {
    color: white;
    font-size: 30px;
}

.sec-content {
    margin-top: 2rem;
    color: #E384FF;
    line-height: 1.5;
}
